.container{
    margin-top: 50px;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    line-height:1.75;
    height: 800px;
}

.col{
    height: 300px;
    flex:0 0 auto;
    width:33.33333333%
}



