@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body{
    font-family: 'Gowun Dodum', sans-serif!important;
}

.jas{
    
    background-color: rgb(198, 255, 245);
    font-size: 130px;
    font-family: 'Dancing Script', cursive;

}

.jas2{
    text-align: center;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
    padding-top: 100px;
    padding-bottom: 30px;

}

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 4rem;
    background: lightgray;
    line-height: 4rem;
    text-align: center;
    z-index: 1;
}

.alink {
    text-decoration-line: none;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.TestDivs>div {
    background-color: #feffd8;
    height: 400px;
    margin: 20px;
    border-radius: 15px;
}

#topBtn {
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: none;
    z-index: 9;
}

.HeaderBox1 {
    background-color: #ffe283;
    padding: 10px 0px 10px 0px;
}

.HeaderBox2 {
    background-color: #89faf0;
    border: solid 1px hwb(192 60% 0%);
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#JBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50px;
}

#JasmineBox {
    background-color: hwb(199 38% 0%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: solid 6px #ffeba9;
    border-radius: 10px;
    margin: 5px;
    padding: 15px 5px 0px 5px;
}

#JSubBox {
    height: 55px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 30px;
}

#JSubBox>div {
    background-color: hwb(192 38% 0%);
    box-shadow: 1px 1.5px 4px 0.5px hwb(187 27% 49%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: solid 4px hwb(192 74% 0%);
    border-radius: 15px;
    margin: 0px 0px 0px 7px;
    padding: 0px 5px 0px 5px;
}

#JSubBox>div>a {
    color: white;
}

#weather {
    height: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 229, 131);
    box-shadow: 1px 1px 4px 0px hwb(187 27% 49%);
    border: solid 4px hwb(192 74% 0%);
    border-radius: 10px;
    font-weight: 1000;
    margin: 10px;
    padding: 0px 5px 0px 5px;
}

#Jasmine {
    color: white;
    font-size: 33px;
    font-weight: 800;
}

#JSub {
    font-size: 18px;
    font-weight: 600;
}

.Pepper {
    height: 300px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://img.freepik.com/premium-photo/a-bunch-of-red-chili-peppers-with-water-drops-on-a-black-background_901003-27356.jpg?w=2000');
    background-position: center;
    background-size: cover;
}

#topBtn {
    background-color: #3ab0ff;
    height: 30px;
    width: 50px;
    color: white;
    border: transparent;
    border-radius: 10px;
}

h4{
    padding-top: 20px;
}

.container{
    padding-top: 10px;
    margin-top: 100px;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    line-height:1.75;
    height: 900px;
}

.container2{
    width:100%;
    margin-right:auto;
    margin-left:auto;
    line-height:1.75;
    height: 850px;
}

.col{
    height: 350px;
    flex:0 0 auto;
    width:33.33333333%
}

.text-center {
color: black;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
}

.text-center3{
color: black;
    font-size: 20px;
    text-align: right;

}

.text-center4 {
color: black;
    font-size: 20px;
    text-align: left;
}

.center-container-wanna {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-left: 70vh;
    margin-right: 70vh;
    border: 2px solid black;
}

.center-text-wanna {
    font-size: 24px;
    font-weight: bold;
}

.container_j {
    padding-top: 100px;
    display: flex;
    justify-content: center;

}

.left_j,
.right_j {
    margin: 0 10px;
    text-align: center;
    
}

.left_title_j,
.right_title_j{
    margin-bottom: 30px; 
    border-radius: 15px;
}

.goal_j,
.promise_j {
    background-color:  rgb(255, 249, 222);
    width: 700px;
    height: 300px;
    padding: 20px 20px;
    box-shadow: 5px 5px 5px lightgray;
    font-size: 24px;
    border: 1px solid  rgb(255, 249, 222);
    padding: 20px;
    border-radius: 30px;
}

.guestBookBox{
    background-color: rgb(255, 249, 222);
}

.GUEST_BOOK {
    color: white;
    background-color: #1F4172;
    margin: 0px auto 0px auto;
}

.Message_Box_Title {
    color: white;
    background-color: #1F4172;
    margin: 100px auto 50px auto;
}

.Message_Box_Content {
    border: 4px solid #132043;
    border-radius: 50px;
    width: 800px;
    margin: 50px auto 0px auto;
    padding: 40px;
    color: white;
}

.Message_Box_Content>button {
    background-color: white;
    border: 4px solid #ffe283;    
    border-radius: 15px;
    width: 300px;
    margin: 10px auto 0px auto;
    font-size: 18px;
}

.pic{
    width: 200px; 
    height: 200px;
    border-radius : 50%
}

.container2.row text-center.col{
    height: 700px;
    flex:0 0 auto;
    width:33.33333333%
}

.form-label{
    color: black;
}
